@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #1f2833;
}

.fethcing-block {
  display: none;
  position: absolute;
  left: -0.1vh;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.block {
  background-color: #0b0f13;
  border: #45a29e 2px solid;
  width: 50%;
  height: 100%;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.center {
  position: absolute;
  background: #0b0c10;
  top: 35%;
  left: 35%;
  width: 30%;
  height: 30%;
  border: 3px solid #45a29e;
}

.fade {
  opacity: 0;
  transition: all 3s linear;
}

.loading {
  position: absolute;
  font-size: 3em;
  text-align: center;
  top: 20%;
  left: 15%;
  color: ivory;
  z-index: 5;
  animation-name: loading;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.left {
  animation-name: left;
}

.right {
  animation-name: right;
}

@keyframes left {
  from {
    transform: translateX();
    transform-origin: right;
  }
  to {
    transform: translateX(-120vh);
  }
}

@keyframes right {
  from {
    transform: translateX();
    transform-origin: left;
  }
  to {
    transform: translateX(120vh);
  }
}

.table-container {
  position: relative;
  text-align: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
  border: #66fcf1 solid 2px;
}

.apple-seed-img {
  position: absolute;
  background: url(photos/appleSeeds.png) no-repeat center center/cover;
  right: -14%;
  top: -1%;
  width: 42%;
  height: 10%;
}

.search-wrapper {
  text-align: left;
  padding: 2vh 0vh;
}

.table-header,
.table-row {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
}
.table-header > button {
  color: ivory;
  background: #0b0c10;
}

.table-row {
  transition: transform 1s;
}

.table-row:hover {
  border: 2px #66fcf1 solid;
}

textarea {
  font-family: "Open Sans", sans-serif;
  background-color: #0f1419;
  height: auto;
  resize: none;
  color: floralwhite;
}

.delete {
  background-color: darkgray;
}

.button-flipper {
  transition: 0.3s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateX(180deg);
}

.edit,
.delete {
  color: ivory;
  background: #0b0c10;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  z-index: 2;
  transform: rotateX(0deg);
}

.delete {
  color: #d31e3c;
}

.cancel,
.confirm {
  height: 100%;
  width: 100%;
  background-color: ivory;
  color: #0b0c10;
  backface-visibility: hidden;
  transform: rotateX(-180deg);
}

.confirm {
  color: ivory;
  background-color: #2d3b4c;
}

.edit-mode {
  opacity: 0.5;
}

.on-delete-animation {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 2;
  animation-name: deleting;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes deleting {
  from {
    transform: scale();
    transform: rotateZ();
    transform-origin: right;
    opacity: 1;
  }
  99% {
    transform: rotateZ(-120deg) scale(0.1, 0.3);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    display: none;
  }
}
